@page "/"
@namespace BlazorAppHttps.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>作業日誌</title>
    <base href="~/" />

    @* <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" /> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link href="css/site.css" rel="stylesheet" />

    <link href="BlazorAppHttps.styles.css" rel="stylesheet" />
</head>

<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    @* <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script> *@

    <script>

        let keyDownListener = null;
        let keyUpListener = null;

        let player = null;

        window.oncontextmenu = function (event) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        };

        window.addKeyDownListener = (invoker) => {
            if (keyDownListener !== null) {
                return;
            }

            // console.log("add global key down listener");


            keyDownListener = (event) => {
                // if (player !== null) {
                //     player.pause();
                // }

                invoker.invokeMethodAsync("keyDownHandler", event.which);
            }

            document.addEventListener("keydown", keyDownListener);
        }

        window.addKeyUpListener = (invoker) => {
            if (keyUpListener !== null) {
                return;
            }

            // console.log("add global key up listener");

            keyUpListener = (event) => {
                invoker.invokeMethodAsync("keyUpHandler", event.which);
            }

            document.addEventListener("keyup", keyUpListener);
        }

        window.removeListeners = () => {
            if (keyDownListener !== null) {
                // console.log("remove global key down listener");
                document.removeEventListener("keydown", keyDownListener);
            }

            if (keyUpListener !== null) {
                // console.log("remove global key up listener");
                document.removeEventListener("keyup", keyUpListener);
            }

            keyDownListener = null;
            keyUpListener = null;
        }

        window.playAudio = (src) => {
            // console.log(src);

            player = new Audio(src);
            player.play();
        }

        window.stopAudio = () => {
            if (player !== null) {
                player.pause();
            }
        }

        window.playVideo = (media) => {
            console.log("play");

            media.play();
        }

        window.stopVideo = (media) => {
            console.log("stop");

            media.pause();
        }

        window.restartVideo = (media) => {
            console.log("restart");

            @* media.pause(); *@
            media.currentTime = 0;
            @* media.play(); *@
        }

        window.backStepVideo = (media) => {
            console.log("backstep");
            @* console.log(media.currentTime); *@

            const step = 2;

            @* media.pause(); *@

            if (media.currentTime <= step) {
                media.currentTime = 0;
            } else {
                media.currentTime -= step;
            }

            @* console.log(media.currentTime); *@


            @* media.play(); *@
        }

    </script>

</body>

</html>
