.page-container {
  display: flex;
  align-items: center;
}

.page-title {
  font-size: 1.8rem;
}

.page-description {
  font-size: 1.15rem;
}

.step-separator-xl {
  margin-bottom: 3rem;
}

.step-separator {
  margin-bottom: 1.75rem;
}

@media (max-width: 768px), (max-height: 768px) {
  .page-container {
  }

  .page-title {
    font-size: 1.5rem;
  }

  .page-description {
    font-size: 1.25rem;
  }

  .step-separator-xl {
    margin-bottom: 1.5rem;
  }

  .step-separator {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 576px), (max-height: 576px) {
  .page-container {
  }

  .page-title {
    font-size: 1rem;
  }

  .page-description {
    font-size: 1rem;
  }

  .step-separator-xl {
    margin-bottom: 0.75rem;
  }

  .step-separator {
    margin-bottom: 0.5rem;
  }
}
