@page "/starting"

@inject NavigationManager NavigationManager
@inject StepService stepService
@using BlazorAppHttps.Data

<div class="container d-flex justify-content-center mt-5">

    <div class="form-container p-4 mx-3 mx-sm-0">

        <h1 class="h2 mb-3 fw-bold w-100 text-center text-white">受付：検体処理者（3 hr）</h1>

        <ol class="mb-2">
            @foreach (var step in stepService.Steps)
            {
                <li class="fs-5 mb-2 text-white">@step.Title</li>
            }
        </ol>

        <button class="btn btn-lg w-100 text-white" style="background-color: var(--custom-primary-color);" type="button"
            @onclick="ProtocolStart">
            開始
        </button>

    </div>

</div>


@code {


    private void ProtocolStart()
    {
        NavigationManager.NavigateTo($"/step");
    }
}
