@using BlazorAppHttps.Data

<div class="container d-flex justify-content-center mt-5">

    <div class="form-container p-4 mx-3 mx-sm-0">

        <h1 class="h2 mb-3 ln-1 fw-bold w-100 text-center text-white user-select-none">@Title</h1>

        <ol class="mb-2">
            @foreach (var step in Steps)
            {
                <li class="fs-5 mb-2 text-white user-select-none">@step.Title</li>
            }
        </ol>

        @ChildContent

    </div>

</div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public List<ProtocolStepModel> Steps { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
